<div class="header-container">
  <div class="left-side">
    <div class="logo-container">
      <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
        <nb-icon icon="menu-2-outline"></nb-icon>
        </a>
        <a class="logo" href="#" (click)="navigateHome()"><img src="../../../../assets/images/AHL.png"></a>
       </div>
      <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
        <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
      </nb-select>
    </div>
  <div class="right-side">
    <div class="logout-container">
    <a class="logout" (click)="sair()">Sair</a>
    </div>
  </div>
</div>
