<nb-layout>
    <h4>Por Setor</h4>
    <nb-layout-column style="width: 400px;" class="colored-column-warning">
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 1
            </nb-card-header>
            <nb-card-body>
                <p>{{ setor1 }}</p>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 4
            </nb-card-header>
            <nb-card-body>
                <p>{{ setor4 }}</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column style="width: 400px;" class="colored-column-info">
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 2
            </nb-card-header>
            <nb-card-body>
                <p>{{ setor2 }}</p>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 5
            </nb-card-header>
            <nb-card-body>
                <p>{{ setor5 }}</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column style="width: 400px;" class="colored-column-success">
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 3
            </nb-card-header>
            <nb-card-body>
                <p>{{ setor3 }}</p>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 6
            </nb-card-header>
            <nb-card-body>
                <p>{{ setor6 }}</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>