<nb-layout>
    <nb-layout-column class="colored-column-warning">
        <h4>Colaboradores</h4>
        <br>
        <nb-card size="tiny colaborador col-md-4">
            <nb-card-header>
                Colaboradores Ativos
            </nb-card-header>
            <nb-card-body>
                <p>{{ colaboradoresAtivos }}</p>
            </nb-card-body>
        </nb-card>
        <br><br><br>
        <h4>Por Setor</h4>
        <br>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 1
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 1</p>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 4
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 4</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column class="colored-column-info">
        <br><br><br>
        <nb-card size="tiny colaborador col-md-4">
            <nb-card-header>
                Colaboradores Inativos
            </nb-card-header>
            <nb-card-body>
                <p>{{ colaboradoresInativos }}</p>
            </nb-card-body>
        </nb-card>
        <br><br><br><br><br><br>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 2
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 3</p>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 5
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 5</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column class="colored-column-success">
        <br><br><br>
        <nb-card size="tiny colaborador col-md-4">
            <nb-card-header>
                Colaboradores Com Faltas
            </nb-card-header>
            <nb-card-body>
                <p>{{ colaboradoresFaltas }}</p>
            </nb-card-body>
        </nb-card>
        <br><br><br><br><br><br>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 3
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 3</p>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 6
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 6</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>
<!-- <nb-layout>
    <h4>Por Setor</h4>
    <nb-layout-column style="width: 400px;" class="colored-column-warning">
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 1
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 1</p>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 4
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 4</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column style="width: 400px;" class="colored-column-info">
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 2
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 3</p>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 5
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 5</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
    <nb-layout-column style="width: 400px;" class="colored-column-success">
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 3
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 3</p>
            </nb-card-body>
        </nb-card>
        <nb-card size="tiny colaborador col-4">
            <nb-card-header>
                Setor 6
            </nb-card-header>
            <nb-card-body>
                <p>Conteúdo 6</p>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout> -->