.coluna {
    display: flex;
}
.center {
    margin-top: 50px;
    text-align: center;
}
.check-falta-div {
    margin-top: 5px;
}
#check-falta {
    font-size: 22px;
    margin-left: 15px;
}
.label {
    margin-top: 20px;
}